/* Base Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0056b3;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f1f1;
  border: 1px solid #ccc;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input{
  margin-bottom: 10px !important;
}

.container-report {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 30px;
}

/* Headings */
h2 {
  color: #ececec;
  font-size: 1.3rem;
  border-bottom: 2px solid #96ccff;
  background-color: #0b2e4e;
  padding: 6px 12px;
  border-radius: 5px;
}

.container-report h1 {
  background-color: #232323;
  font-size: 1.7rem;
  padding: 10px;
  color: #f1f1f1;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 2px solid #96ccff;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}



.error {
  color: red;
  margin-bottom: 20px;
}

/* Report Container Styles */
.report-container {
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.report-table th, .report-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.report-table th {
  background-color: #4CAF50;
  color: white;
}

.report-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.report-table tr:hover {
  background-color: #ddd;
}

/* Login Container Styles */
.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
  background-color: #f3f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 10px !important;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

/* General Button Styles */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px;
}

button:hover {
  background-color: #175ca7;
}

input, select {
  width: 98%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  background-color: #6e6e6e;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.option-button.selected {
  background-color: #007bff;
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Admin Panel Styles */
.admin-panel {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.admin-nav {
  width: 200px;
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: width 0.3s;
}

.admin-nav.collapsed {
  width: 60px;
}

.admin-nav button {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.admin-nav button:last-child {
  background-color: rgb(161, 8, 8);
}

.admin-nav button:last-child:hover {
  background-color: orange;
}

.admin-nav button:hover, .admin-nav button:focus {
  background-color: #495057;
}

.admin-nav button .icon {
  margin-right: 10px;
  height: 1.4rem;
  
}
.dashboard-info button{
  min-height: 40px;
  margin-bottom: -20px;
  margin-top: -10px !important;
  margin-left: 0px !important;
  
}
.dashboard-info h4{
  background-color: rgb(216, 218, 219);
  padding: 15px;
  color: #4f4f4f;
}
.chart-info{
  max-height: 400px;
}
.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.admin-content ul {
  margin-left: -30px;
  width: 96%;
}

.admin-content h3 {
  margin-top: 0;
}

.question-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question-text {
  flex-grow: 1;
}

.question-item .delete-button {
  margin-left: 50px;
  max-width: 100px;
}

.option-list {
  display: none;
  margin-top: 10px;
}

.option-list.visible {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.option-item .option-text {
  margin-right: 10px;
}

.option-item .delete-button {
  margin-top: 5px;
  align-self: flex-end;
  max-width: 100px;
}

.question-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question-text {
  flex-grow: 1;
}

.question-item .delete-button {
  margin-left: 50px;
  max-width: 100px;
}

.admin-content .delete-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  max-width: 100px;
}

.admin-content li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

.admin-content .actions {
  display: flex;
  justify-content: flex-end;
  width: 35%;
  float: right;
}

.admin-content .delete-button:hover {
  background-color: #c82333;
}

.admin-content .option-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.admin-content .option-input select, .admin-content .option-input input {
  margin-right: 10px;
}

.admin-content button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.admin-content button:hover {
  background-color: #0056b3;
}

.admin-content input {
  margin: 10px 0;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.admin-content h4 {
  margin-top: 20px;
}

.notification {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .admin-panel {
    flex-direction: column;
  }

  .admin-nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  .admin-nav.collapsed {
    width: 100%;
  }

  .admin-content {
    padding: 10px;
  }

  .question-item, .option-item, .admin-content button, .admin-content input, .admin-content select {
    width: 100%;
    box-sizing: border-box;
  }

  .option-list {
    flex-direction: column;
  }

  .option-item {
    width: 100%;
  }
}

/* Prevent zoom on focus for mobile */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], select, textarea {
  font-size: 16px;
  -webkit-appearance: none; /* Remove border-radius in iOS Safari */
  appearance: none; /* Remove border-radius in other browsers */
  margin: 0; /* Remove margin in Firefox and Safari */
}

input, select, textarea {
  -webkit-tap-highlight-color: transparent; /* Prevent tap highlight color */
}
.container-input input, select{
  margin-bottom: 10px;
}
/* Modal Styles */
.modal {
  position: fixed;
  min-width: 30%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo transparente preto */
  z-index: 999;
}

/* Progress Bar Styles */
.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 10px;
  background-color: #007bff; /* Cor principal do sistema */
  transition: width 0.4s;
}

